<div id="container">
	
<h1>Login</h1>

<form action='/sessions' method='POST'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<label>Email: <input type="text" name="email"></label></p>
	<label>Password <input type="text" name="password"></label></p>
	<input type="submit" value="Login">
</form>




</div>
