<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//cdn.muicss.com/mui-0.6.0/css/mui.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <script src="//cdn.muicss.com/mui-0.6.0/js/mui.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  <style type="text/css">
/*    
      #navbarrr{
        position: fixed;
        width: 100%;
      }*/
      nav{
        margin-top: 0px;
        position: fixed;
        background-color: #5F9EA0;
        z-index: 99;
      }
      .nav{
        height:60px;
        width:auto;
        background-color: #5F9EA0;

      }
      .fixed{
        height:60px;
        width:100%;
        display:block;
        position: fixed;
      }
      #container{
        width: 700px;
        display: inline-block;
      }
      .profileLocation{
        /*background-image: url("/assets/newyork.jpg");*/
        background-repeat: no-repeat;
        max-width: 100%;
        max-height: 100%;
        background-size: 100%;
        width: 700px;
        height: 350px;
        color:white;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        display: inline-block;
      }
      #fixed_map{
        height: 100%;
        width: 560px;
        display: inline-block;
        vertical-align: baseline;
        background-color: #CCC;
        position: fixed;
        overflow:hidden;
      }
      #map{
        height: 100%;
        width: 560px;
        border: 1px solid black;
        display: inline-block;
        vertical-align: top;
        background-color: #CCC;
        position: absolute;
      }
      .usersList{
        padding: 0px 20px ;
        display: inline-block;
        width: 700px;
        vertical-align: top;
      }
      .trips{
        border: 1px solid black;
        height: 200px;
        width: 400px;
        margin: 50px 40px 50px 120px;
        text-align: center;
        padding:40px 25px;
      }
      .mui-container-fluid{
        padding:0px;
        height: auto;
      }
      .resizeimg{
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
      }
      .bgcolor{
        background-color: #5F9EA0;
      }
      a{
        text-decoration: none;
        color: white;
      }
      .favorites{
        height:100px;
        width: 200px;
        border: 1px solid black;
        padding: 15px;
        content-align: center;
        margin: 10px 40px 10px 250px;
      }
      #wrapIt{
        margin-top: 64px;
      }





  </style>

</head>
<body>

<!-- <div id="navbarrr">
  <header id="header">
    <div class="mui-appbar mui--appbar-line-height">
      <div class="bgcolor">
      <div class="mui-container-fluid">
        <a class="logo" href="/">Compass</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="/sessions/<%= current_user.id %>" data-method="delete">Logout</a>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </header>
</div>
 -->

  <nav>
    <div class="nav-wrapper ">
      <a href="/" class="brand-logo">Compass</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/trips/new">Create a Trip</a></li>
        <li><a href="collapsible.html">Logout</a></li>
      </ul>
    </div>
  </nav>



<div class="mui-container-fluid">

<div id="wrapIt">

<div id="container">





    <div class="profileLocation">
      <img class="profileLocation" src="/assets/newyork.jpg">
    </div>

      <div class="favorites">
        <p><i class="material-icons prefix">loyalty</i> Favorites: 69 </p>  
        <p><i class="material-icons prefix">perm_contact_calendar</i> Places Visited: 100</p> 
      </div>


    <div class="usersList">
      <h3>Hey, <%= current_user.first_name %>!!</h3>
      <h3>Here are the cities you've visited</h3>
      <h5>A definitive guide of the best local spots, as told by you! </h5>


      <div class="trips">
        <a href=""><h3>Seattle, WA</h3></a>
        <p>Some description</p>
      </div>

      <div class="trips">
         <a href=""><h3>London, UK</h3></a>
        <p>Some description</p>
      </div>

      <div class="trips">
         <a href=""><h3>New York, NY</h3></a>
        <p>Some description</p>
      </div>     
    </div>

</div>

  
  <div id="fixed_map" class='map-responsive'>
    <div id="map">
      <script>
        function initMap() {
          var mapDiv = document.getElementById('map');
          var map = new google.maps.Map(mapDiv, {
            center: {lat: 44.540, lng: -78.546},
            zoom: 8
          });
        }

      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhfWWMebSl09VdkaFt8D7yGnb5xUXi3A4&callback=initMap">
      </script>
      
    </div>
  </div>

</div>






</div>






</body>
</html>