<form action="/costs" method="POST">
	<input type="text" name="cost[category]">
	<input type="hidden" name="cost[place_id]" value="SOME PLACE_ID">
	<input type="text" name="cost[cost]">
	<input type="text" name="cost[company]">
	<input type="text" name="cost[description]">
</form>