* {
 margin: 0;
 padding: 0;
}
.row {
 text-align: center;
}
.nav-wrapper {
 background: none;
 position: absolute;
 z-index: 1;
}
nav {
 background: transparent;
}
#banner {
 margin-top: -100px;
 position: relative;
}