#banner {
	height: 400px;
	text-align: center;
	background-color: gray;
}
.nav-wrapper {
	color: black;
}
nav ul li {
	color: black;
}
.row {
	text-align: center;
}
video {
    display: block;
    width: 100%;
    height: 400px;
    z-index: -100;
    overflow: none;
}